<div class="grid grid-cols-12 justify-center">
  <div class="col-span-12 text-center">
    <h1 class="text-blue-600">Focus Tasks</h1>
    <p class="text-green-500">Add Edit Or Delete any Category</p>
  </div>
  <div
    (click)="addTask()"
    class="flex justify-center items-center col-start-6 col-span-2 font-medium text-white shadow-lg rounded-full bg-violet-500 p-5 hover:bg-violet-600 cursor-pointer active:bg-violet-700 h-5 hover:-translate-y-1 hover:scale-105 transition-all duration-300"
  >
    Add New Task
  </div>
</div>

<br />

<div class="container">
  <div class="grid grid-cols-12 c gap-5 z-10">
    <div *ngFor="let task of tasks" class="col-span-4">
      <div
        (click)="toggle($event)"
        [id]="task.id"
        class="z-10 grid grid-cols-12 items-center shadow-lg text-white rounded-3xl bg-blue-500 w-100 h-14 hover:scale-105 transition-all duration-300 focus:bg-slate-700 active:bg-slate-700"
      >
        <mat-icon class="col-span-1 ml-2" [id]="'expand_task_' + task.id"
          >expand_more</mat-icon
        >
        <span
          class="col-span-6 col-start-4 mx-7 font-medium text-lg text-center pointer-events-none"
        >
          {{ task.name }}</span
        >
        <div class="col-span-4 col-start-11 flex flex-row space-x-2">
          <div
            [id]="'edit_task_' + task.id"
            (click)="editTask(task.id)"
            class="bg-blue-400 rounded-full p-1 w-8 h-8 active:bg-blue-600 hover:bg-blue-300 cursor-pointer"
          >
            <mat-icon
              class="text-yellow-300"
              aria-hidden="false"
              aria-label="Example home icon"
              >edit</mat-icon
            >
          </div>
          <div
            [id]="'edit_task_' + task.id"
            (click)="deleteTask(task.id)"
            class="bg-blue-400 rounded-full p-1 w-8 h-8 active:bg-blue-600 hover:bg-blue-300 cursor-pointer"
          >
            <mat-icon
              class="text-red-500"
              aria-hidden="false"
              aria-label="Example home icon"
              >delete</mat-icon
            >
          </div>
        </div>
      </div>
      <div
        class="h-auto w-100 bg-blue-400 mx-6 rounded-b-3xl hidden duration-500 ease-out transition-all"
        [id]="'task_' + task.id"
      >
        <div class="flex flex-col">
          <div class="ml-3">
            <mat-checkbox [(ngModel)]="task.completed"
              ><span class="text-white">{{ task.name }}</span></mat-checkbox
            >
          </div>
          <div class="flex justify-start ml-5">
            <span class="text-white font-medium mt-2">
              - Task duration :
              <span class="text-green-700"> {{ task.duration }}</span>
            </span>
            <div class="flex justify-center gap-2 ml-3">
              <div
                (click)="startTimer(task.id)"
                [id]="'start_task_' + task.id"
                class="flex justify-center items-center col-start-6 col-span-2 font-medium text-white shadow-lg rounded-full bg-violet-500 p-5 hover:bg-violet-600 cursor-pointer active:bg-violet-700 h-5 hover:-translate-y-1 hover:scale-105 transition-all duration-300"
              >
                Start
              </div>
              <div
                (click)="resetTimer(task.id)"
                [id]="'rest_task_' + task.id"
                class="flex justify-center items-center col-start-6 col-span-2 font-medium text-white shadow-lg rounded-full bg-violet-500 p-5 hover:bg-violet-600 cursor-pointer active:bg-violet-700 h-5 hover:-translate-y-1 hover:scale-105 transition-all duration-300"
              >
                Reset
              </div>
            </div>
          </div>
          <div class="ml-5 w-1/2 mt-4"></div>
        </div>
      </div>
    </div>
  </div>
</div>
