<header class="shadow-lg flex border-2 border-violet-700 rounded-lg">
  <div class="flex mx-auto justify-center items-center">
    <div class="cursor-pointer" [routerLink]="['/dashboard']">
      <h1
        class="rounded-2xl border-2 mx-auto text-white opacity-100 max-w-fit p-2 bg-gradient-to-r from-blue-300 to-pink-400 text-2xl"
      >
        {{ title }}
      </h1>
    </div>
  </div>
  <div
    class="bg-violet-700 opacity-70 mr-4 rounded-lg mb-2 ring-2 ring-orange-600"
  >
    <span
      class="text-white text-3xl font-extrabold px-3 mt-3 text-center align-middle"
      >{{ date | date }}</span
    >
    <span
      class="text-white text-3xl font-extrabold px-3 mt-3 text-center align-middle"
      >{{ time }}</span
    >
  </div>
</header>
