<!-- card Items conatiner start-->
<div
  class="grid grid-cols-1 gap-4 md:grid-cols-2 md:gap-6 xl:grid-cols-4 2xl:gap-7.5"
>
  <!-- Card Item Start -->
  <div
    class="border bg-violet-500 bg-opacity-60 py-6 px-7.5 shadow-lg rounded-2xl border-02 border-gray-300 p-4"
  >
    <div
      class="flex flex-row h-11 w-11 items-center justify-center rounded-full bg-slate-200"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
        class="w-6 h-6 fill-violet-500"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M6 6.878V6a2.25 2.25 0 012.25-2.25h7.5A2.25 2.25 0 0118 6v.878m-12 0c.235-.083.487-.128.75-.128h10.5c.263 0 .515.045.75.128m-12 0A2.25 2.25 0 004.5 9v.878m13.5-3A2.25 2.25 0 0119.5 9v.878m0 0a2.246 2.246 0 00-.75-.128H5.25c-.263 0-.515.045-.75.128m15 0A2.25 2.25 0 0121 12v6a2.25 2.25 0 01-2.25 2.25H5.25A2.25 2.25 0 013 18v-6c0-.98.626-1.813 1.5-2.122"
        />
      </svg>
    </div>

    <div class="mt-4 flex items-end justify-between">
      <div>
        <h4 class="text-title-md font-bold text-white">50</h4>
        <span class="text-base font-medium text-white">Total Tasks</span>
      </div>
    </div>
  </div>
  <!-- Card Item End -->
  <!-- Card Item Start -->
  <div
    class="border bg-blue-500 bg-opacity-60 py-6 px-7.5 shadow-lg rounded-2xl border-02 border-gray-300 p-4"
  >
    <div
      class="flex flex-row h-11 w-11 items-center justify-center rounded-full bg-slate-200"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
        class="w-6 h-6 fill-blue-400"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M9 12h3.75M9 15h3.75M9 18h3.75m3 .75H18a2.25 2.25 0 002.25-2.25V6.108c0-1.135-.845-2.098-1.976-2.192a48.424 48.424 0 00-1.123-.08m-5.801 0c-.065.21-.1.433-.1.664 0 .414.336.75.75.75h4.5a.75.75 0 00.75-.75 2.25 2.25 0 00-.1-.664m-5.8 0A2.251 2.251 0 0113.5 2.25H15c1.012 0 1.867.668 2.15 1.586m-5.8 0c-.376.023-.75.05-1.124.08C9.095 4.01 8.25 4.973 8.25 6.108V8.25m0 0H4.875c-.621 0-1.125.504-1.125 1.125v11.25c0 .621.504 1.125 1.125 1.125h9.75c.621 0 1.125-.504 1.125-1.125V9.375c0-.621-.504-1.125-1.125-1.125H8.25zM6.75 12h.008v.008H6.75V12zm0 3h.008v.008H6.75V15zm0 3h.008v.008H6.75V18z"
        />
      </svg>
    </div>

    <div class="mt-4 flex items-end justify-between">
      <div>
        <h4 class="text-title-md font-bold text-white">10</h4>
        <span class="text-base font-medium text-white">Active Tasks</span>
      </div>
    </div>
  </div>
  <!-- Card Item End -->
  <!-- Card Item Start -->
  <div
    class="border bg-green-400 bg-opacity-80 py-6 px-7.5 shadow-lg rounded-2xl border-02 border-gray-300 p-4"
  >
    <div
      class="flex flex-row h-11 w-11 items-center justify-center rounded-full bg-slate-200"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
        class="w-6 h-6 fill-green-300"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M11.35 3.836c-.065.21-.1.433-.1.664 0 .414.336.75.75.75h4.5a.75.75 0 00.75-.75 2.25 2.25 0 00-.1-.664m-5.8 0A2.251 2.251 0 0113.5 2.25H15c1.012 0 1.867.668 2.15 1.586m-5.8 0c-.376.023-.75.05-1.124.08C9.095 4.01 8.25 4.973 8.25 6.108V8.25m8.9-4.414c.376.023.75.05 1.124.08 1.131.094 1.976 1.057 1.976 2.192V16.5A2.25 2.25 0 0118 18.75h-2.25m-7.5-10.5H4.875c-.621 0-1.125.504-1.125 1.125v11.25c0 .621.504 1.125 1.125 1.125h9.75c.621 0 1.125-.504 1.125-1.125V18.75m-7.5-10.5h6.375c.621 0 1.125.504 1.125 1.125v9.375m-8.25-3l1.5 1.5 3-3.75"
        />
      </svg>
    </div>

    <div class="mt-4 flex items-end justify-between">
      <div>
        <h4 class="text-title-md font-bold text-white">50</h4>
        <span class="text-base font-medium text-white">Finished Tasks</span>
      </div>
    </div>
  </div>
  <!-- Card Item End -->
  <!-- Card Item Start -->
  <div
    class="border bg-orange-500 bg-opacity-60 py-6 px-7.5 shadow-lg rounded-2xl border-02 border-gray-300 p-4"
  >
    <div
      class="flex flex-row h-11 w-11 items-center justify-center rounded-full bg-slate-200"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
        class="w-6 h-6 fill-orange-400"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M6.75 3v2.25M17.25 3v2.25M3 18.75V7.5a2.25 2.25 0 012.25-2.25h13.5A2.25 2.25 0 0121 7.5v11.25m-18 0A2.25 2.25 0 005.25 21h13.5A2.25 2.25 0 0021 18.75m-18 0v-7.5A2.25 2.25 0 015.25 9h13.5A2.25 2.25 0 0121 11.25v7.5"
        />
      </svg>
    </div>

    <div class="mt-4 flex items-end justify-between">
      <div>
        <h4 class="text-title-md font-bold text-white">50</h4>
        <span class="text-base font-medium text-white">Today Tasks</span>
      </div>
    </div>
  </div>
  <!-- Card Item End -->
</div>
<!-- card Items conatiner End -->
<!--Chart Container Start-->

<div class="flex mt-5 ml-5 gap-20">
  <div class="chart-container border-2 border-violet-400 w-80">
    <canvas id="MyChart">{{ chart }}</canvas>
  </div>
  <div class="chart-container border-2 border-violet-400 w-80">
    <canvas id="MyChart1">{{ chart1 }}</canvas>
  </div>
  <div class="chart-container border-2 border-violet-400 w-80">
    <canvas id="MyChart2">{{ chart2 }}</canvas>
  </div>
  <div class="chart-container border-2 border-violet-400 w-80">
    <canvas id="MyChart3">{{ chart3 }}</canvas>
  </div>
</div>
